*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.button:focus {
  outline: none;
}

button:focus-visible {
  outline-offset: 1px;
}

.content {
  display: flex;
  align-items: end;
  column-gap: 30px;
  margin: 133px auto;
  max-inline-size: 1140px;
}

.result__video-container {
  margin-block-end: 16px;
  block-size: 386px;
  inline-size: 711px;
  position: relative;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-position: center;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content:space-between;
  align-items: end;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset:has(input[type="checkbox"]) {
  margin-block-end: 5px;
}

.search-form__fieldset:has(input[type="text"]) {
  inline-size: 225px;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  margin-block-end: 5px;
}

.search-form__textfield {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  inline-size: 100%;
  background-color: transparent;
  border: none;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  border-color: #1b1919;
}

.search-form__checkbox-list {
  display: flex;
  column-gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding: 1px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__label:has(.search-form__pseudo-checkbox):hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  cursor: pointer;
}

.search-form__label-text {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  padding: 1px;
  inline-size: 19px;
  block-size: 19px;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
}

.search-form__checkbox[type='checkbox']:checked + .search-form__pseudo-checkbox::before {
  content: '';
  display: block;
  inline-size: 100%;
  block-size: 100%;
  background-color: #fff;
}

.search-form__submit-button {
  min-inline-size: 194px;
  min-block-size: 34px;
}

.content__details {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  flex-grow: 1;
  max-block-size: 534px;
  max-inline-size: 399px;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  overflow-y: auto;
  inline-size: 100%;
  position: relative;
  block-size: 534px;
}

.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card {
  display: flex;
  align-items: start;
  padding: 2px;
}

.content__video-card:active {
  background-color: #545050;
}

.content__video-card:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  flex-grow: 1;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
}

.more-button {
  min-inline-size: 100%;
  min-block-size: 34px;
  margin-block-end: 1px;
}